@model IEnumerable<estoqueMVC.Models.ItemEstoque>

<div class="container-fluid">
    <h2>Produtos no estoque</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nome do produto</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Data de validade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <form asp-action="Apagar" asp-route-id="@item.ProdutoId" method="post">
    
                <input type="hidden" name="produtoId" value="@item.ProdutoId" />
                <tr>
                    <td>@item.Produto.Nome</td>
                    <td>@item.Produto.Descricao</td>
                    <td>@item.Quantidade</td>
                    <td>@item.Produto.Preco</td>
                    <td>@item.Validade</td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@item.ProdutoId">Editar</a> |
                        <button type="submit">Apagar</button>
                    </td>
                </tr>
</form>

            }
        </tbody>
    </table>
</div>


