@model estoqueMVC.Models.ProdutosViewModel

<div class="container-fluid">
    @foreach (var produto in Model.Produtos)
    {
        <div>
            <div class="row">
                
                <div class="col-md-8">
                    <h3>@produto.Nome</h3>
                    <p>@produto.Descricao</p>
                    <p>@produto.Preco</p>
                    <p>@produto.DataCadastro</p>
                    <p>@produto.DataValidade</p>
                    <input type="hidden" name="id" value="@produto.ProdutoId"/>
                </div>
                <div>
                    <a asp-action="Editar" asp-route-id="@produto.ProdutoId">Editar</a>
                    <div>
    <form asp-action="Excluir" asp-route-id="@produto.ProdutoId" method="post">
        <input type="submit" value="Excluir" />
    </form>
</div>
                    
                </div>
            </div>
        </div>
        
    }

</div>
